name: Build and Release

on:
  create:
    tags:
      - v*
  workflow_dispatch:

jobs:
  build:
    name: Build and Package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: mvn clean package -DskipTests=true -Dmaven.javadoc.skip=true -B -V

      - name: Create Release ZIP
        run: |
          cd target
          zip -r ../burp_nu_te_gen_Releases.zip Nu_Te_Gen-*-SNAPSHOT-jar-with-dependencies.jar
          cd ..

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: burp_nu_te_gen_artifact
          path: burp_nu_te_gen_Releases.zip
          retention-days: 5

      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          body: |
            # Burp Nu Te Gen Release ${{ github.ref_name }}
            
            This release includes the latest features and bug fixes.
            
            ## Downloads
            - [burp_nu_te_gen_Releases.zip](https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/burp_nu_te_gen_Releases.zip)
          draft: false
          prerelease: false
          files: ./burp_nu_te_gen_Releases.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
